<div>
    <a href="https://linkedin.com/in/gaspyrom"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/gaspyrom"><img src="../../../assets/github.png" id="github"></a>
    <a href="https://facebook.com/gaspyrom"><img src="../../../assets/facebook.png" id="facebook"></a>
    <a href="https://instagram.com/gaspyrom"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://twitter.com/gaspyr0m"><img src="../../../assets/twitter.png" id="twitter"></a>
</div>